{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-wrapper">

    <h1 class="page-title">Технология BFS</h1>

    <div class="bfs-content">

        <p class="bfs-desc">На сегодняшний день лучшей технологией асептического производства фармацевтических продуктов, признанной во всём мире, является технология BFS (Blow-Fill-Seal, или «Выдувание-наполнение-запаивание»). Она обеспечивает высокую стерильность растворов, а также одновременный выдув флакона, вливание раствора во флакон и его запаивание.</p>
        
        <a href="https://youtu.be/jz-KECjBCC0" target="_blank" class="youtube-preview">
            <img src="https://img.youtube.com/vi/jz-KECjBCC0/maxresdefault.jpg" alt="Видео BFS">
            <div class="youtube-play">▶</div>
        </a>

        <h2>ТЕХНОЛОГИЯ</h2>
        <p>Асептический BFS-процесс объединяет в одну операцию выдув полимерной ёмкости для лекарственного препарата, её стерильное наполнение и герметичное запаивание...</p>

        <a href="https://youtu.be/6GzU0obGeXw" target="_blank" class="youtube-preview">
            <img src="https://img.youtube.com/vi/6GzU0obGeXw/maxresdefault.jpg" alt="Видео BFS">
            <div class="youtube-play">▶</div>
        </a>

        <h2>КАЧЕСТВО</h2>
        <ul>
            <li>
                Асептический BFS-процесс объединяет в одну операцию выдув полимерной ёмкости для лекарственного препарата, 
                её стерильное наполнение и герметичное запаивание. Эти процессы выполняются за один рабочий цикл, который занимает от 10 до 
                18 секунд.
            </li>
            <li>
                В системе BFS автоматизированы все необходимые действия; 
                режим работы полностью исключает вмешательство персонала завода в зоны формирования, наполнения и герметизации.
            </li>
            <li>
                Лекарственное средство помещается в контейнер автоматически на стадии заполнения и сразу герметизируется термическим свариванием. 
                Это обеспечивает абсолютную стерильность готового продукта и, как следствие, - гарантию безопасности для пациентов
            </li>
            <li>
                Оборудование ведущего европейского производителя - компании Rommelag (Швейцария).
            </li>
        </ul>
        

        <a href="https://youtu.be/LV3yf7NwgPI" target="_blank" class="youtube-preview">
            <img src="https://img.youtube.com/vi/LV3yf7NwgPI/maxresdefault.jpg" alt="Видео BFS">
            <div class="youtube-play">▶</div>
        </a>
        

        <h2>ПРЕИМУЩЕСТВА</h2>
        <ul>
            <li>Минимальное вмешательство человека в процесс производства.</li>
            <li>Высокий уровень стерильности.</li>
            <li>Экологическая безопасность.</li>
            <li>Личная безопасность.</li>
            <li>Удобство транспортировки.</li>
            <li>Препараты в упаковке BFS практически не поддаются фальсификации.</li>
            <li>Большая производительность по сравнению с традиционными технологиями.</li>
        </ul>

        <a href="https://youtu.be/K6beJaOHl5M" target="_blank" class="youtube-preview">
            <img src="https://img.youtube.com/vi/K6beJaOHl5M/maxresdefault.jpg" alt="Видео BFS">
            <div class="youtube-play">▶</div>
        </a>

    </div>

</div>

{% endblock %}